*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

html
{
	font-size: 11pt;
}

body
{
	font-family: verdana, sanas-serif;
}

#wrapper
{
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
}

aside
{
	width: 20%;
	min-height: 100%;
	background: #273136;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 10px 5px;

}

h4
{
	font-size: 1.1rem;
	font-weight: normal;
	margin: 25px 0 30px 10px;
	cursor: pointer;
	transition: 0.3s;
	text-shadow: 1px 1px 1px black;
}
	
	h4:hover
	{
		color: silver;
		transform: scale(1.05);
	}

.sidebar_icon
{
	margin-left: 10%;
}

hr
{
	color: #033C27;
	background: #033C27;
	border: none;
	height: 3px
}

main
{
	min-height: 100%;
	width: 80%;
	background: #B4B4B4;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3%;
	color: #1D2528;
}

fieldset
{
	width: 50%;
	height: 70px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 3px 3px 5px;
	border: none;
	outline: none;
	font-size: 1.5rem;
}

#addTask
{
	width: 80%;
	height: 100%;
	border: none;
	outline: none;
	padding: 10px 15px;
}
#add
{
	width: 20%;
	height: 100%;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 1rem;
	color: #fff;
	background: #033C27;
	text-shadow: 1px 1px 1px black;
}
	
	#add:hover
	{
		color: silver;
		font-size: 1.1rem;
	}

h2
{
	color: #fff;
	text-shadow: 2px 2px 3px black;
}

.addIcon
{
	margin-left: 20px;
	color: #349A58 ;
}

#tasksContainer
{	
	width: 60%;
	list-style-position: inside;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.output
{
 padding: 15px 25px;
 box-shadow: 3px 3px 3px #033C27;
 background: #FFF;
 min-height: 70px;
 font-size: 1.5rem;
 margin: 3px 0;
 width: 100%;
 border-radius: 15px;

}

.spanCheck
{	
	float: right;
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
	width: 10%;
	align-self: flex-start;
	transition: 0.5s;
}

.spanCheck:hover
{
 cursor: pointer;
 color: green;
 transform: scale(1.05);
}

.checkbox
{	
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

.rightIcon{

	float: right;
	cursor: pointer;
}
	.rightIcon:hover{
		color: red;
	}
